@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'header';
@import 'main';
@import 'variables';

*{
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: $ColorFondo;
}

div{
    padding: 0px;
    margin: 20px;
    span{
        background-color:$ColorFondo;
        vertical-align: middle;
    }
}

span{
    width: 70px;
    height: 70px;  
    margin:10px;
    padding:10px 0px;
    border-radius: 10px;
    position:relative;
}

.boton{
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    border:1px solid black;
}
.botonServicios{
    @extend .boton;
    background-color: #7e7e7e;
}

.botonBeneficios{
    @extend .boton;
    background-color: #919191;
}

.botonNosotros{
    @extend .boton;
    background-color: #a5a5a5a5;
}

.botonContacto{
    @extend .boton;
    background-color: #b9b9b9;
}

span:hover{
    background-color: #000;
}

a{
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

footer{
    background-color: black;
    color: aliceblue;
    }
